@model string
@{
    Layout = "_layout";
}
<div class="card bg-primary text-white">
    <h1 class="card-reader">Xin chao</h1>
    <div>
        <p>
            Ban dang tim hieu ve (.cshtml) trong ASP.NET mvc
        </p>
    </div>
</div>
@Path
<br>
@Model